:root {
  --main-color: lightblue;
  --secondary-color: lightskyblue;
  --main-text-color: blue;
  --secondary-text-color: lightseagreen;
  --main-font-style: Calibri;
}

.App {
  text-align: center;
}

.header {
  color: var(--main-text-color);
  font-family: var(--main-font-style);
}

.footer {
  color: var(--main-text-color);
  font-family: var(--main-font-style);
  margin: 5px;
}

.notes-wrapper {
  margin: 20px auto 20px auto;
  width: 600px;
  min-height: 800px;
  border: 5px solid var(--main-color);
}

.todo-wrapper {
  text-align: left;
  margin-bottom: 18px;
  border-bottom: 1px solid var(--secondary-color);
}

.btn {
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  background-color: transparent;
  padding: 8px;
}

.btn-submit {
  color: var(--main-color);
  border-color: var(--main-color);
}

.btn-submit:hover {
  border-width: 3px;
  font-weight: bold;
}

.btn-remove {
  /* top 0px right 20px bottom 10px left 15px */
  margin: 0px 20px 10px 10px;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-remove:hover {
  border-color: var(--secondary-text-color);
}

.btn-status {
  float: right;
  margin-right: 6px;
  padding: 4px;
}

li {
  list-style: none;
}

input {
  width: 85%;
  border: none;
  padding: 8px 2px;
  margin: 8px;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

input:focus {
  outline: none;
  border: none;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
}